.dashboard {
    background-color: #1D1E1F;
    height: 100vh;
    color: whitesmoke;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 50px;
}

.dashboard__topTop {
    display: flex;
    justify-content: space-between;
}

.dashboard__topTop > div {
    font-size: 24px;
    font-weight: 600;
}

.dashboard__datePicker {
    background-color: #141313;
    display: flex;
    flex-direction: column;
    color: whitesmoke !important;
    border: 1px solid rgb(122, 122, 122) !important;
}


.dashboard__top {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 80px;
}

.dashboard__body {
    margin-top: 50px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(70, 70, 70);
}

.dashboard__bodyEntry > label {
    font-size: 22px;
    font-weight: 600;
    margin-right: 10px;
}

.dashboard__bodyEntry > input {
    background-color: #141313;
    border: 1px solid rgb(122, 122, 122);
    height: 30px;
    border-radius: 5px;
    color: whitesmoke;
}

.dashboard__bodyBtn {
    color: whitesmoke !important;
    border: 1px solid rgb(122, 122, 122) !important;
    
}

.datePicker {
    position: absolute;
    z-index: 90;
    top: 190px;
    left: 585px;
    background-color: #141313;
    border: 1px solid rgb(122, 122, 122);
    height: fit-content;
    width: 500px;
    text-align: center;
    border-radius: 5px;
    color: whitesmoke;
    font-size: 18px
}