.workoutEntry__input {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.workoutEntry__input > div{
    display: flex;
    flex-direction: column;
}

.workoutEntry__input > div > label {
    text-align: center;
}

.workoutEntry__input > div > input {
    width: 15vw;
    background-color: #141313;
    border: 1px solid rgb(122, 122, 122);
    height: 30px;
    border-radius: 5px;
    color: whitesmoke;
}

.workoutEntry__input > button {
    width: 100px;
    border: 1px solid rgb(122, 122, 122);
    color: whitesmoke;
}


.workoutEntry__top {
    font-size: 22px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 40px;
}

.workoutEntry__excEntry {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.workoutEntry__excEntry > input {
    width: 100px;
}

.workoutEntry__dropDownIcon {
    color: whitesmoke;
}